build/
presentation/netASIO.png
presentation/netCALL.png
presentation/netCodeIni.png
presentation/netCSV_Bunt.png
presentation/netCSV.png
presentation/netIniInhalt.png
presentation/netlogCALC.png
presentation/netlogCALL.png
presentation/netlogCSV_B.png
presentation/netlogCSV.png
presentation/netLogInit.png

presentation/.~lock.Защита проекта_синяя.pptx#
